<div class="container">
    <mat-form-field class="form-container">
        <input matInput placeholder="City" [matAutocomplete]="auto" [formControl]="cityCtrl" #citySearch
            (keyup)="onChange(citySearch.value)">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let city of filteredCitys | async" [value]="city.name">
                <span>{{city.LocalizedName}}</span>
            </mat-option>
        </mat-autocomplete>
        <button mat-icon-button matSuffix (click)="search(citySearch.value)">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

    <div class="body">
        <div class="current-weather-container">
            <div>
                <span class="city-class">{{cityName}}</span>
                <span *ngIf="celsius" class="degree-class">{{todayWeather.TemperatureCelsius}}°</span>
                <span *ngIf="!celsius" class="degree-class">{{todayWeather.TemperatureFahrenheit}}°</span>
            </div>
            <div class="text-container">
                <span>{{todayWeather.WeatherText}}</span>
            </div>
        </div>
        <div class="function-container">
            <div class="favorite-container">
                <button mat-icon-button matSuffix (click)="addToFavorites()">
                    <mat-icon *ngIf="!onList" matTooltip="Add to favorites">favorite</mat-icon>
                    <mat-icon *ngIf="onList" matTooltip="Remove from favorites" color="warn">favorite</mat-icon>
                </button>
            </div>
            <mat-button-toggle-group #group="matButtonToggleGroup" value="c" (change)="onValChange(group.value)">
                <mat-button-toggle value="c">
                    C°
                </mat-button-toggle>
                <mat-button-toggle value="f">
                    F°
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="week-weather-class">
        <div *ngFor="let day of forecastWeather">
            <mat-card>
                <p class="day-class">{{day.day}}</p>
                <p class="tem-class">{{day.Temperature}}°</p>
                <!-- <mat-card-title>{{day.DailyForecasts.Date}}</mat-card-title>
                            <mat-card-title>{{day.DailyForecasts.RealFeelTemperature.Maximum.Value}}</mat-card-title> -->
            </mat-card>
        </div>
    </div>
</div>