.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
}

.card-class{
    margin: 2em;
}

.text-class{
 font-size: 20px;
 font-weight: bold;
 text-align: center;
}