<!-- <div class="container">
    <div *ngFor="let city of citys">
        <a routerLink="/home//{{try}}">
            <mat-card class="card-class">
                <p class="city-class">{{city.LocalizedName}}</p>
                <p *ngIf="celsius" class="text-class">{{tem}}°</p>
                <p *ngIf="!celsius" class="degree-class">{{tem}}°</p>
                <p class="text-class">{{text}}</p>
            </mat-card>
        </a>
    </div>
</div> -->

<button id="increment" (click)="increment()">Increment</button>

<div>Current Count: {{ count$ | async }}</div>

<button id="decrement" (click)="decrement()">Decrement</button>

<button id="reset" (click)="reset()">Reset Counter</button>